.OrderDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align at the bottom vertically */
  align-items: center; /* Center horizontally */
  padding: 3vmin;
  font-size: 2vmin;
  color: var(--text-light);
  height: 100vh; /* Make the container take up the entire viewport height */
  position: relative; /* Add this for absolute positioning of "read a book a week!" */
}
  
  .OrderDetail .sectionHeading {
    width: 100%
  }
  
  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    padding-left: 0.8vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .1vmin solid var(--tan-3);
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .OrderDetail .hungry {
    position: absolute;
    bottom: 50vmin; /* Adjust this value as needed */
    font-size: 2vmin;
    text-align: center; /* Center text horizontally */
    width: 100%; /* Make sure it spans the entire width */
    color: var(--text-light);
  }