.MenuListItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vmin;
    margin-bottom: -1.6vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--tan-4);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 2vmin;
  }
  
  .MenuListItem .image {
    height: 8vw;
    width: 8vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.5vw;
    text-align: center;
    color: var(--text-light);
    margin-top: 1vw;
  }
  
  .MenuListItem .name {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: var(--blue);
    margin-top: 1vmin;
  }

  .MenuListItem .author {
    font-size: 1.1vw;
    text-align: center;
    color: var(--text-light);
    margin-top: 1vmin;
  }