.AuthPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-radius: 2vmin;
    background-image: url('../images/libraryBackground.jpeg');
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Optionally, scale the background image to cover the container */
    background-position: center; /* Optionally, center the background image */
    overflow-x: hidden; /* Hide horizontal overflow */
    padding: 1vmin;
  }

  .forms {
    display: flex;
    flex-direction: column; /* Stack forms vertically */
    align-self: flex-end; /* Align the forms to the top-right corner */
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
    font-family: Comfortaa,cursive;
  }

  .AuthPage h1 {
    color: var(--white);
    font-size: 60px;
    font-family: Comfortaa,cursive;

  }