.header-container {
    font-size: 3.7vmin;
    min-height: 10vmin;
    margin-left: 2vmin;
    color: var(--purple-1);
}

.header-container.orange-bg {
    background-color: rgb(238, 175, 58); 
  }

