.navbar {
    /* background-color: var(--blue); */
    padding-left: 2vmin;
    text-align: left;
    /* font-family: 'Comic Sans MS', cursive !important;  */
    color: var(--blue);
    font-size: 3vmin;
    
  }
  
  /* .navbar-title h2 {
    font-size: 24px;
    /* margin-bottom: 4vmin; */
    padding-left: 2vmin;
    /* position: fixed; */
  /* }  */
  
  .navbar-link {
    text-decoration: none;
    font-weight: bold;
    color: #333; /* Dark gray text color */
  }
  
  .navbar-link:hover {
    color: #FF1493; /* Highlight link color on hover */
  }