.footer-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-height: 25vmin;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Add background color */
    color: #fff; /* Text color */
    padding: 3rem 10rem;
  }

  .footer-list {
      padding: 0;
      list-style: none;
  }
  
  .footer-list p {
      color: rgb(162, 159, 159);
      cursor: pointer;
  }
  
  .footer-list p:hover
  {
      color: white;
  }

  .footer-list a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-list a:hover {
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 1rem;
    }
  
    .footer-list {
      padding: 1rem;
    }
    
    .footer-list p {
      margin: 0.5rem 0;
    }
  }
 