:root {
  --white: #ffffff;
  --purple-1: #7310ad;
  --purple-2: #a90ada;
  --tan-3: #ffffff;
  --tan-4: #f8f4f4;
  --blue: #f67f00;
  --blue-2: #f4bd82;
  --text-light: #57146f;
  --text-dark: #be380b;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Comfortaa, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: 0.6vmin;
  text-align: center;
  font-size: 2vmin;
}

/* .form-container { 
padding: 3vmin; 
background-color: rgba(255, 255, 255, 0.5);  
border: 0.1vmin solid var(--purple-1);
border-radius: 1vmin; 
margin-left: 40mvin;
}  */

p.error-message {
  color: var(--blue);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
  color: var(--white);
  display: flex;
  flex-direction: column; /* Stack forms vertically */
  align-self: flex-end;
  max-width: 60%;
  margin-top: 4vmin;
  margin-left: 20vmin;
  padding: 2vmin;
  background-color: var(--tan-4);
  background-color: hsl(280, 76%, 41%);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.AuthForm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  /* color: var(--text-light); */
  color: var(--white);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-self: flex-start;
  background-color: hsl(260, 76%, 42%);
  margin-top: -5vmin;
  margin-left: 50vmin;
} 

/* div.AuthFormCointainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--white);
  color: var(--text-light);
  display: flex;
  flex-direction: column; 
  align-self: flex-end;
  background-color: hsl(260, 76%, 42%);
  margin-left: 30vmin;
}  */

.AuthButton {
  margin: 1vmin;
  padding: 1vmin;
  margin-left: 5vmin;
  color: var(--white);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  margin-left: 30vmin;
  margin-top: 2vmin;

} 

form * {
  font-weight: bold; /* Make all text elements inside the form bold */
  font-size: 1.4em !important;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--blue);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  outline: var(--tan-1);
}

input:focus {
  border-color: var(--blue);
}

.checkbox-container {
  display: flex;
  justify-content: space-between; /* Place elements on the same line with space in between */
  align-items: center; /* Vertically align the checkbox and label */
}

button,
a.button {
  margin: 1vmin;
  /* margin-left: 50vmin; */
  padding: 1vmin;
  color: var(--white);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

.adminButtons {
  display: flex; /* Make the buttons flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  margin-top: -3vmin;
}

.adminButtons .btn-sma {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--purple-1);
  font-size: 1.3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}
.adminButtons2 {
  display: flex; /* Make the buttons flex container */
  justify-content: left; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  margin-top: -6vmin;
  margin-left: 18vmin;
}

.adminButtons2 .btn-sma2 {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--purple-1);
  font-size: 1.3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--blue-2);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}


